{
  "extends": "@antfu",
  "rules": {
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "@typescript-eslint/comma-dangle": "off",
    "arrow-parens": "off",
    "multiline-ternary": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "operator-linebreak": "off",
    "eol-last": "warn"
  }
}